.container {
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}


.new-div {
    height: 40px;
    width: 40px;
    background-color: blue;
    border: 1px solid black;
}