$primaryColor: #272727;
$textColor: #fff;
$important: red;
$secondary: blue;
$hover: blue;
$font-weights: (
  "thin": 100,
  "medium": 500,
  "heavy": 900,
);

$fontSizes: (
  "small": 0.5rem,
  "medium": 1rem,
  "large": 2rem,
);

$mobile: 800px;
